<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An experiment in full stack web development">
        <meta name="author" content="Kaiser Stefan Pister">
        <link rel="shortcut icon" href="/favicon.ico" />

        <title>Kaiser Pister</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <style>
        table {
            display:block;
            height: 735px;
          }
        </style>
    </head>
    <body>

        <div class="container">
            <nav class="pa3 pa4-ns">
                <a class="link dim black b f6 f5-ns dib mr3" href="/" title="Home">Repos: </a>
                <% @info[:repo_names].sort_by{ |rn| rn.downcase }.each do |repo_name| %>
                    <a class="link dim gray    f6 f5-ns dib mr3" href= <%= "/gprojects/#{repo_name}" %>><%= repo_name %></a>
                <% end %>
            </nav>
            <%= yield %>
        </div>
        <div class="container">
            <footer class="bg-white black-80">
                <p class="f4">
                    <span class="dib mr4 mr5-ns">Check out my
                        <a class="link blue-80 hover-light-purple" href="https://docs.google.com/document/d/1_nBC7GPJad5r3SRR7Rxi5pRpyiqgRRfVVohWAkNktDc/edit?usp=sharing" target="_blank">resumé,</a> 
                        <a class="link blue-80 hover-light-purple" href="https://github.com/kpister" target="_blank">github (open source),</a> or
                        <a class="link blue-80 hover-light-purple" href="https://bitbucket.com/kpister" target="_blank">bitbucket (private).</a>
                    </span>
                </p>
            </footer>
        </div>

    </body>
</html>
