<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A place to express">
        <meta name="author" content="Kaiser Stefan Pister">
        <link rel="shortcut icon" href="/favicon.ico" />

        <title>Kaiser Pister</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://docs.google.com/document/d/1_nBC7GPJad5r3SRR7Rxi5pRpyiqgRRfVVohWAkNktDc/edit?usp=sharing" target="_blank">Resumé</a></li>
                    <li><a href="https://github.com/kpister" target="_blank">Github (open source)</a></li>
                    <li><a href="https://bitbucket.com/kpister" target="_blank">Bitbucket (private)</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
