<article class="cf">
    <div class="fl w-100 w-70-l bg-near-white tc">

        <article class="pa3 pa5-ns" data-name="slab-stat">
            <h1>Welcome to kaiser.cloud</h1>
            <h1>Your workstation id is: <%=@ws%></h1>
            <dl class="dib mr5">
        </article>
    </div>
</article>