<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
        <img src="../images/mini_c_compiler.png" class="h4 w4 dib" title="Mini C Compiler">
        <h1 class="f4">Mini C Compiler</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center f4 black-70">
        A compiler for a subset of the C language.
        It was developed as part of a course at the University of Edinburgh.
        The project was written almost entirely in Java, and outputs a MIPS file which can be run in the MARS emulator.

        This is one of the coolest projects I have accomplished, and in particular I enjoyed the connections we made to the linguistic side of Computer Science. 
        As a result of this project, I am now pursuing research in PL.
    </p>
    <p class="lh-copy measure center f5 black-70">
        This project must remain private for academic reasons, however if you are interested, shoot me an email: pisterk@gmail.com
    </p>
</article>