<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
        <img src="../images/graphics.png" class="h4 w4 dib" title="Graphics">
        <h1 class="f4">Graphics Projects</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center f4 black-70">
        At UCSD, I have developed multiple graphics projects including:
    </p>
    <p class="lh-copy measure center f4 black-70">
        A recursive raytracer. Using 3D object files and scene lighting, I render beautiful images in photorealistic quality.
        I originally wrote this in C++, but am in the process of porting it to Go to further improve performance.
    </p>
    <p class="lh-copy measure center f4 black-70">
        A progressive mesh viewer. After reading in .off files, I render in real time a 3D mesh.
        The user can interact with the mesh through normal transformation as well as mesh decimation and progression.
    </p>
    <br>
</article> 