<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
        <img src="../images/ruby_front.png" class="h4 w4 dib" title="Ruby">
        <h1 class="f4">Ethnio and Ruby</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center f4 black-70">
        Working as a Junior Ruby on Rails Engineer at Ethnio was an eye-opening experience.
    </p>
    <p class="lh-copy measure center f4 black-70">
        As one of six members in the company, I operated in many parts of the app.
        By the end, I worked on improving security, 
        managing and acquiring engagement statistics, 
        updating old code and libraries, 
        migrating to a new webserver, 
        and working with the CEO to design new features.
    </p>
    <p class="lh-copy measure center f4 black-70">
        I learned a lot of valuable lessons, and used much of that knowledge creating this website!
    </p>
</article> 